code {
	font-family:"Consolas",monospace
}

.home {
	float:right;
top:500px;      
}
/*FIXME*/
.mtext {
	font-family:¿¬Ìå;
 	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;	
	top:50;
}

blockquote {
	font-family:ËÎÌå;
}

@font-face {
	font-family:zpix;
src: url('https://solidzoro.com/zpix-pixel-font/zpix.woff2');
}

.container::before{    
	content:'';
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background:url(https://cdn.thinglink.me/api/image/658225006207041537/1240/10/scaletowidth);
	background-repeat:no-repeat;
	background-size:cover;
	filter:blur(10px);
	z-index:-1
}

a {

        position: relative;
        display: inline-block;
        outline: none;
        text-decoration: none;
        color: #104E8B;
        padding: 5px 10px;
 }

        a:hover::before, a:hover::after { position: absolute; }
        a:hover::before { content: "{"; left: -20px; }
        a:hover::after { content: "}"; right:  -20px; }
