code {
	font-family:"Consolas",monospace
}

@font-face {
	font-family:zpix;
	src: url('./Zpix.ttf');
}
@font-face {
	font-family:backup;
	src: url('./Zpix.woff2');
}
button {
	 background-color:white;
	 font-weight:900px;
}

.passage {

        position: relative;
        display: inline-block;
        outline: none;
        text-decoration: none;
        color: black;
        padding: 1px 1px;
 }

a{color:#808080;}
a:hover{color:black;}
.passage{margin-bottom:10px;--time:"";}
.passage:hover::before, .passage:hover::after { position: absolute;}
.passage:hover::before { content: "{"; left: -5px;}
.passage:hover::after { content: "}" ; right:  -5px; }

.container {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family:zpix,backup,Courier New,Song,SimSong-Regular,STFangsong;
	font-size:14px;
	padding:15px;
}

